/* src/pages/homepage.css */
.video-background {
  position: relative;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden;
  flex-direction: column; /* Stack children vertically */
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  /* Optional: Cover the entire screen */
  object-fit: cover;
}

.workout-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.welcome-text h1 {
  margin-top: 20vh;
  text-align: center;
  flex-grow: 1;
  flex-basis: 25%;
  z-index: 1;
  color: white;
}

.welcome-text {
  text-align: center;
  font-size: 1.5em;
  z-index: 1;
}

.button-container {
  position: absolute; /* Use absolute positioning */
  bottom: 50px; /* Adjust this value as needed to control how far from the bottom of the screen it should sit */
  width: 100%; /* Ensure it spans the width of its parent */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.home-signup-button {
  margin-top: 80%;
  --background: #ff4b4b;
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.home-login-button {
  margin-left: auto;
  margin-right: auto;
  color: #ff4b4b;
  z-index: 1;
}

.logo-homepage {
  position: relative; /* This makes it a positioned ancestor for absolute positioning */
}

.fixed-logo {
  position: fixed; /* or 'absolute' */
  top: 0; /* Adjust these values based on where you want the image */
  left: 0; /* Adjust these values based on where you want the image */
  z-index: 1000; /* Ensures the image stays above other content */
}
