/* src/pages/homepage.css */

.welcome-text h1 {
    margin-bottom: 2rem;
  }
  
  .signup-button {
    --background: #ff4b4b; 
    --border-radius: 20px;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  