.highlighted {
  background-color: #fc8787;
}

.today {
  border: 1px solid #ff4500;
}

.inactive {
  color: #cccccc;
}

.calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 4px;
  margin: 2px;
  height: 44px;
}

.month-buttons-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
