.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.next-back-button {
    --background: #ff4b4b;
    color: white;
}

.nav-buttons {
    margin-top: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;

}

.gender-step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
}

.start-workout-button {
    margin-top: 2em;
    --background: #ff4b4b;
    color: white;
}

.go-home-button {
    --background:#b4b3b3;
    margin-top: auto;
    width: auto;
  }