* {
  font-family: "Arial", sans-serif;
}

.profile-text h2 {
  padding-left: 6px !important;
  margin: 0 !important;
}

.scoreboard-card {
  --background: #f0f0f0; /* Light grey background for the card */
  /* --color: */
}

.statistics-container {
  margin: 20px;
  align-items: center;
  justify-content: center;
}

.scoreboard-text {
  font-size: large;
}

.profile-content {
  padding-bottom: 80px;
}

ion-tab-bar {
  --color: #ff4b4b !important;
  /* --background: lightgray; */
  padding-bottom: 3px;
}

.profile-tab {
  --color: #483c32 !important;
}