
ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workout-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.workout-range {
    width: 95%;
}

ion-range {
    --bar-background: #ff4b4b;
    --bar-background-active: #fc8787;
    --bar-height: 2vw;
    --bar-border-radius: 8px;
    --knob-background: black;
    --knob-size: 6vw;
    --pin-color: #ffffff;

  }

  @media (min-width: 600px) {
    ion-range {
      --bar-height: 8px;
      --knob-size: 40px;

    }
  }

.workout-form .workout-begin-button {
    margin-top: 4em;
    --background: #ff4b4b;
    color: white;
}

.workout-form .workout-skip-button {
    color: #ff4b4b
}



